[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
openconnect-okta-helper = {editable = true,path = "./tools/openconnect-okta-helper"}
homebrew-pypi-poet = "*"

[requires]
python_version = "3.7"
